html, body {
  font-family: 'Montserrate';
}

#logo-header {
  position: absolute;
  top: 5px;
}

.logo .logo-text-big {
  font-size: 36px;
}

/* Gradient color1 - color2 - color1 */
hr.style-one {
    border: 0;
    height: 1.25px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 2px;
    margin-bottom: 2px;
}

.logo .logo-text-small {
  font-size: 18px;
  left:90px;
}

#contact-paragraph {
  position:absolute;
  padding-right: 25px;
  padding-left: 25px;
  top: 20%;
  font-family: 'Montserrate';
  font-size: 16px;
  text-align:center;
}

#page-home {
  position:absolute;
  font-family: 'Montserrat';
  font-size: 20px;
  bottom: 10px;
  left: 10px;
}

#page-portfolio {
  position:absolute;
  font-family: 'Montserrat';
  font-size: 20px;
  bottom: 10px;
  left: calc((100% - 88px)/2);
}

#page-info {
  position:absolute;
  font-family: 'Montserrat';
  font-size: 20px;
  bottom: 10px;
  right: 10px;
}
